{% block commentary_widget %} 
    {% spaceless %}
        <div class="form-group">
            <p>
                От имени: {{ form_widget(form.author, {'attr': {'class': 'form-control'} } ) }}
            </p>
            <p>
                Что вы хотите сказать? {{ form_widget(form.text, {'attr': {'rows': '2', 'class': 'form-control'} } ) }}
            </p>
        </div>
        <button class='ready-to-go btn btn-primary btn-xs' type="submit">Отправить</button>    
    {% endspaceless %}
{% endblock %}
