{% extends '::base.html.twig' %}

{% block javascript %} 
    {{ parent() }}
    <script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
{% endblock %}

{% block body -%}

    <h1>Редактировать комментарий</h1>
    {% form_theme form 'AppBundle:Form:commentary_widget.html.twig' %}
    {{ form(form) }}
    
    <script>
        //CKEDITOR.config.toolbar = [];
        //CKEDITOR.replace( 'commentary_text' );
        
        bkLib.onDomLoaded(nicEditors.allTextAreas);
    </script>
    
    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_commentary') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
