{% extends '::base.html.twig' %}

{% block body -%}
<div class="row">
    <table class="table">
        <colgroup>
           <col span="1" style="width: 5%;">
           <col span="1" style="width: 5%;">
           <col span="1" style="width: 90%;">
        </colgroup>         
        {% for commentary in entities %}                
            <tr>
                <td>
                    <a class="btn btn-warning" href="{{ url('admin_commentary_edit', {'id':  commentary.id} ) }}">
                        <span class="glyphicon glyphicon-pencil font-m" aria-hidden="true"></span>
                    </a>
                </td>
                <td>
                    <form method="post" action="{{ url('admin_commentary_delete', {'id': commentary.id}) }}">
                        <input type="hidden" value="DELETE" name="_method"></input>
                        <button class="btn btn-danger" type="submit" onclick="return confirm('Подтвердите удаление.')" >
                            <span class="glyphicon glyphicon-fire font-m" aria-hidden="true"></span>
                        </button>
                    </form>
                </td>  
                <td>
                    
                    <div class="col-lg-8">
                    <!-- Comment -->
                    <div class="media-comment" id="{{ 'comment'~commentary.id }}">
                        <div class="media-body">
                            <h4 class="media-heading">{{ commentary.author!=null ?  commentary.author : 'Анонимус'}}
                                <small>{{ commentary.createdAt|date('Y-m-d H:i:s') }}</small>
                            </h4>
                                <p class="rl">{{ commentary.text | raw}}</p>
                        </div>
                    </div>
                </td>
            </tr>
            {% for child in commentary.children %}
            <tr>
                <td>
                    <a class="btn btn-warning" href="{{ url('admin_commentary_edit', {'id':  child.id} ) }}">
                        <span class="glyphicon glyphicon-pencil font-m" aria-hidden="true"></span>
                    </a>
                </td>
                <td>
                    <form method="post" action="{{ url('admin_commentary_delete', {'id': child.id}) }}">
                        <input type="hidden" value="DELETE" name="_method"></input>
                        <button class="btn btn-danger" type="submit" onclick="return confirm('Подтвердите удаление.')" >
                            <span class="glyphicon glyphicon-fire font-m" aria-hidden="true"></span>
                        </button>
                    </form>
                </td>  
                <td>
                    <div class ="col-md-7 col-md-offset-1">
                        <div class="media-comment" id="{{ 'comment'~child.id }}">
                            <div class="media-body">
                                <h4 class="media-heading">{{ child.author }} <u><i>ответил</i></u>
                                    <small>{{ commentary.createdAt|date('Y-m-d H:i:s') }}</small>
                                </h4>
                                <p class="rl">{{ child.text | raw }}</p>
                            </div>
                        </div>                    
                    </div>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3"></td>
            </tr>
            </div>
            

        {% endfor %}
    </table>
</div>
{% endblock %}
