<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />        
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/app/css/blog-post.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}" />
        {% endblock %}
        {% block javascript %} 
            <script src="{{ asset('bundles/app/js/jquery-1.11.2.min.js') }}"
                type="text/javascript"></script>
            <!-- Bootstrap Core JavaScript -->
            <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
              
        {% endblock %}  
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
<body>


    <div class="container">
        {% block body %}{% endblock %}
    </div>


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    {% if app.user %}
                        <a href="{{ url('fos_user_security_logout') }}">Выйти</a>
                    {% else %}
                        <a href="{{ url('admin_commentary') }}">Войти</a>
                    {% endif %}
                    
                    <p class="copyright text-muted">Copyright &copy; Norm Website 2015</p>
                </div>
            </div>
        </div>
    </footer>


</body>

</html>    