{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="col-lg-10">
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="col-lg-6">
<form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <div class="control-group">
            <label for="username" class="control-label">{{ 'security.login.username'|trans }}</label>
            <div class="controls">
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control"/>
            </div>
        </div>
        
        <div class="control-group">
            <label for="password" class="control-label">{{ 'security.login.password'|trans }}</label>
            <div class="controls">
                <input type="password" id="password" name="_password" required="required" class="form-control"/>
            </div>
        </div>
    
    <div class="control-group">
        <div class="controls">
            <label for="remember_me" class="checkbox">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans }}
            </label>
            {#<button type="submit" id="_submit" name="_submit"  class="btn btn-primary">{{ 'security.login.submit'|trans }}</button>#}
            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-primary btn-sm"/>
        </div>
   </div>    
</form>
        </div>
</div>
{% endblock fos_user_content %}
