{% extends '::base.html.twig' %}
        
           
{% block body -%}
    <style type="text/css">
        .bord {
            border-width: thick;
            border-color: #101010;
        }   
    </style>
        
                
    {% macro print_comment(comm, level) %}
        <div class="row">
            <div class ="bord col-md-offset-{{level}}">
                {{ comm.text }}
            </div>
            {% set level = level+1 %}
            {% for child in comm.childs %}
                {{ _self.print_comment (child, level) }}
            {% endfor %}
        </div>
    {% endmacro %}            

    {% import _self as tools %}            

    {{ tools.print_comment(comm, 0) }}            


{% endblock%}
