{% extends '::base.html.twig' %}

{% block body -%}

    <script type="text/javascript">
    $(document).ready(function() {   
        $('.reply-btn').on('click', function() {
            if($(this).attr('state')==1) {
                var index = $(this).attr('reply-id')

                var prototype = $('#form-prototype').attr('data-prototype');
                var newForm = prototype.replace(/__id__/g, index);
                /*var myBtn = $('<span/>', {
                    class:  'btn btn-danger btn-xs',
                    text: 	'Отмена',
                    replyid: index,
                    click: function() {
                        //console.log($(".reply-btn[reply-id='"+$(this).attr('replyid')+"']"));
                        $(".reply-btn[reply-id='"+$(this).attr('replyid')+"']").attr('state', '1');
                        $(this).parent().parent().remove();
                        
                    }
                });            
                newForm = $(newForm).append(myBtn)*/
                $('.reply-form-'+index).append(newForm)
                $('.reply-form-'+index).addClass('well')
                $(this).attr('state', '0')
            }
        })
    })
    

    //var newForm = prototype.replace(/__name__/g, index);        
    </script>
    
    <div class="row">
        <!-- Comments Form -->  
        <div class="col-lg-8">
            <h4>Оставить комментарий:</h4>
            <div class="well">
                {% form_theme form 'AppBundle:Form:commentary_widget.html.twig' %}
                {{ form(form) }} 

            </div>
        </div>
    </div>
         
        {% for commentary in entities %}                
            <div class="row">
                <div class="col-lg-8">
                <!-- Comment -->
                <div class="media-comment" id="{{ 'comment'~commentary.id }}">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{ commentary.author!=null ?  commentary.author : 'Анонимус'}}
                            <small>{{ commentary.createdAt|date('Y-m-d H:i:s') }}</small>
                        </h4>

                            <span>{{ commentary.text | raw}}</span>
                            <p>
                                <span class="reply-btn btn btn-default btn-xs" state="1" reply-id="{{ commentary.id }}">Ответить</span>
                            </p>
                    </div>
                </div>
                {% for child in commentary.children %}
                    <div class ="col-md-7 col-md-offset-1">
                        <div class="media-comment" id="{{ 'comment'~child.id }}">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="http://placehold.it/64x64" alt="">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">{{ child.author }} <u><i>ответил</i></u>
                                    <small>{{ commentary.createdAt|date('Y-m-d H:i:s') }}</small>
                                </h4>

                                    <span>{{ child.text | raw }}</span>
                            </div>
                        </div>                    
                    </div>
                {% endfor %}
                    <div class ="col-md-7 col-md-offset-1 reply-form-{{ commentary.id }}">                        
                    </div>                            
                </div>
            </div>
                    
        {% endfor %}

    </div>
            
    <div id="form-prototype" data-prototype="{% filter escape %}{{ form(replyForm) }}{% endfilter %}">
    </div>
    {% endblock %}
